/* Set padding to keep content from hitting the edges */
* {
    font-family: Roboto, 'Sans Serif Collection';
}

.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*****************************************************/
#homepage_main_section > section {
    height: 300px;
    padding: 5px;
    border-top: solid 1px #808080;
    border-bottom: solid 1px #808080;
    border-radius: 10px;
    text-align: center;
}

.artist-name-homepage {
    border-bottom: solid 1px #cc4f4f;
    font-size: 0.9em;
}

/*****************************************************/
/* Style the dropdown select */
.custom-dropdown > form > select {
    appearance: none; /* remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 35px 8px 12px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    margin-right: 10px;

}

    /* On hover */
    .custom-dropdown select:hover {
        border-color: #888;
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    }

    /* On focus */
    .custom-dropdown select:focus {
        outline: none;
        border-color: #4A90E2;
        box-shadow: 0 0 5px rgba(74,144,226,0.5);
    }

/* Custom arrow */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

    .custom-dropdown::after {
        content: "▼";
        font-size: 12px;
        color: #555;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }
